.footer-nav {
  flex: 1 1 auto;

  @include respond('laptop') {
    width: 100%;
    order: 1;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;

    @include respond('tablet') {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 30px 60px;
    }

    a {
      color: var(--footer-text-color);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      a {
        color: var(--footer-text-color);
        opacity: 0.5;
      }
    }
  }
}
