.hero {
  padding-block: 100px 120px;
  position: relative;
  overflow: hidden;

  @include respond('tablet') {
    padding-block: 50px 100px;
  }

  @include respond('phone') {
    padding-block: 32px 80px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    @include respond('laptop') {
      gap: 40px;
    }

    @include respond('phone') {
      gap: 26px;
    }

    @include respond('tablet') {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 54px;
    letter-spacing: -0.03em;

    @include respond('tablet') {
      flex-basis: 100%;
      gap: 36px;
    }
  }

  &__btns {
    display: flex;
    gap: 1rem;

    @include respond('tablet') {
      justify-content: center;
    }
  }

  &__statistics {
    display: flex;
    gap: 46px;
    justify-content: flex-start;
    align-items: flex-start;

    @include respond('tablet') {
      justify-content: center;
    }

    .statistics__item {
      max-width: 126px;
      .count {
        display: block;
        @include fluid-font-size(42px, 62px);
        line-height: 1.1;

        &::after {
          content: '+';
          color: var(--accent-text-color);
          background: var(--main-gradient);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  &__img {
    flex: 1 1 50%;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    @include respond('tablet') {
      width: 100%;
      min-height: 400px;
    }

    &::after {
      content: '';
      position: absolute;
      right: -230px;
      bottom: -230px;
      // max-width: 900px;
      width: 860px;
      height: 620px;
      background-image: url(./../../img/bg-elements/el-1.svg);
      background-position: center center; /* x y */
      background-size: contain;
      background-repeat: no-repeat;

      @include respond('laptop-s') {
        right: auto;
        left: -50%;
      }

      @include respond('tablet') {
        left: auto;
        right: -140px;
        transform: rotate(28deg);
      }
    }

    &-wrapper {
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 230px;
        height: 230px;
        border-radius: 50%;
        background: var(--second-color);
        opacity: 0.3;
        filter: blur(50px);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        right: 0;
        width: 324px;
        height: 324px;
        border-radius: 50%;
        background: var(--accent-color);
        filter: blur(60px);
        opacity: 0.3;
        pointer-events: none;
        z-index: -1;
      }

      .cup {
        position: absolute;
        width: 470px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond('laptop') {
          width: 300px;
        }
      }
    }
  }
}
