.mobile-nav {
  position: fixed;
  top: 0;
  // top: -100%;
  right: -100%;
  max-width: 320px;
  width: 100%;
  height: 100%;
  z-index: 998;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(209deg, #1f2a32 -17.38%, #1f2a32 78.4%), #1f2a32;
  transition: all 0.4s ease-in-out;

  @include respond('phone') {
    max-width: 100%;
  }
}

.mobile-nav--open {
  top: 0;
  right: 0;
}

.mobile-nav a {
  color: #fff;
  display: block;
  transition: all 0.2s ease-in;

  &:hover {
    color: var(--accent-color);
  }
}

.mobile-nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 32px;
  @include fluid-font-size(22px, 32px);
  text-transform: uppercase;

  li {
    width: 100%;
    display: block;
    text-align: center;
  }

  & .active {
    color: var(--accent-color);
  }
}
